:root {
  --color-background-card: #222;
  --color-text-card: #fff;
  --color-shadow-light-card: rgba(240, 230, 220, 0.7);
  --color-shadow-dark-card: rgba(0, 0, 0, 0.7);
  --color-hover-white-card: #ccc;
  --background-image-home: url("@assets/home-background-img.webp");
  --cards-background-img: url("@assets/cards-background-img.webp");
  --info-details-background-img: url("../assets/info-details-background-image.webp");
  --small-screen: 400px;
}
